.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #353839 !important;
  padding: 0.5rem 1rem;
  color: white;
  position: fixed;
  top: 0; /* Ensure it is at the very top */
  left: 0; /* Align it to the left */
  right: 0; /* Align it to the right */
  width: 100%;
  z-index: 2;
}

.NavBar .logo img {
  width: 120px;
  height: 90px;
}

.navlink {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navlink li {
  padding: 0.5rem 1rem;
}

.navlink li a {
  text-decoration: none;
  color: white;
}

.navlink li a:hover {
  color: #a9a9a9;
}

.menu-icon {
  display: none;
  background: none;
  color: white;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  margin: 1rem;
}

.resp-buttons {
  margin: 0rem 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* .resp-buttons .login-btn, */
.resp-buttons .signup-btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid #020202;
  border-radius: 5px;
  color: white;
}

.resp-buttons .signup-btn {
  background-color: white;
  color: black;
}

.resp-buttons .signup-btn:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}
.resp-buttons .login-btn:hover {
  background-color: white;
  color: #020202;
}

@media (max-width: 768px) {
  .navlink {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px);
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .navlink.mobile {
    transform: translateX(0%);
  }

  .menu-icon {
    display: block;
  }

  .resp-buttons {
    display: none;
  }

  .mobile-btn {
    display: block;
  }
  .NavBar .logo img {
    width: 90px;
    height: 70px;
  }
}
.NavBar .search{
  padding: auto;
  background-color: #797d7e;
  border-radius: 3px;


}